:root{
    --main-light-color: rgb(244, 207, 179);
    --main-dark-color: rgb(8,84,103);
    --main-medium-color: rgb(175,167,187);
    --btn-hover-back: rgba(8,84,103, 0.403);
  }

  .mainContainer{
    font-family: 'Montserrat', sans-serif, 'Courier New', monospace;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 7px;
    word-spacing: 0.1em;
    background-color: var(--main-dark-color);
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 1;
  }

  .buttonsStyle{
      color: rgb(0, 0, 0);
      padding: 20px;
      padding-left: 40px;
      
  }

  .buttonsStyle:hover{
      background-color: var(--main-medium-color);
      text-decoration: none;
  }

  .ulContainer{
      display: flex;
      align-content: space-around;
      justify-content: center;
      align-items: center;
      margin-bottom: 0px;
      list-style-type: none;

  }

 